<script src="/js/chart.bundle.min.2.7.1.js"></script>
<script src="/js/palette.min.js"></script>

<section class="section">
  <div class="container">
    {{ range $room := .Content.Rooms }}
    <div class="columns">
      <div class="column">
        <h2 class="title is-2">{{ if (emoji $room.Temperature.Sensor.Name) }}{{ emoji $room.Temperature.Sensor.Name }} {{ end }}{{ $room.Temperature.Sensor.Name }}: <span class="has-text-danger">{{ $room.Temperature.Value }}{{ $room.Temperature.Sensor.SensorType.Symbol }}</span></h2>
        <h5 class="subtitle is-5"><small class="has-text-danger">{{ $room.Temperature.Sensor.SensorType.Type }}</small><small> - Last Update: {{ $room.Temperature.Timestamp.Format "2006-01-02 15:04:05" }}</small></h5>
      </div>
      <div class="column">
        <h2 class="title is-2">{{ if (emoji $room.Humidity.Sensor.Name) }}{{ emoji $room.Humidity.Sensor.Name }} {{ end }}{{ $room.Humidity.Sensor.Name }}: <span class="has-text-info">{{ $room.Humidity.Value }}{{ $room.Humidity.Sensor.SensorType.Symbol }}</span></h2>
        <h5 class="subtitle is-5"><small class="has-text-info">{{ $room.Humidity.Sensor.SensorType.Type }}</small><small> - Last Update: {{ $room.Humidity.Timestamp.Format "2006-01-02 15:04:05" }}</small></h5>
      </div>
    </div>
    {{ end }}
  </div>
</section>

<section class="section" style="padding-top: 0px">
  <div class="container">
    <div class="columns">
      {{ range $plant := .Content.Plants }}
      <div class="column">
        <h1 class="title" style="font-size: 5rem">{{ emoji $plant.Data.Sensor.Name }}<span style="font-size: 2.5rem; padding-left: 5px; letter-spacing: 2px;">{{ moisture $plant.Data.Value }}</span></h1><h3 class="title is-3">{{ $plant.Data.Sensor.Name }}: <span class="has-text-warning">{{ $plant.Data.Value }}{{ $plant.Data.Sensor.SensorType.Symbol }}</span></h3>
        <h5 class="subtitle is-5"><small class="has-text-warning">{{ $plant.Data.Sensor.SensorType.Type }} ({{ $plant.Data.Sensor.SensorType.Unit }})</small><small> - Last Update: {{ $plant.Data.Timestamp.Format "2006-01-02 15:04:05" }}</small></h5>
      </div>
      {{ end }}
    </div>
  </div>
</section>

<section class="section">
  <div class="container" style="min-width: 800px;">
    <h4 class="title is-4">🕖 72 hours - living room <span class="has-text-danger">temperature</span> and <span class="has-text-info">humidity</span></h4>
    <canvas id="hour_chart" width="100%" height="25%"></canvas>
    <script>
    var tempColors = palette('cb-OrRd', 4).map(function(hex) { return '#' + hex; });
    var tempColorIndex = tempColors.length;
    var tempColor = function() {
        if (tempColorIndex == 0) {
            tempColorIndex = tempColors.length;
        }
        var color = tempColors[tempColorIndex-1]
        tempColorIndex--;
        return color;
    }

    var humColors = palette('cb-PuBuGn', 4).map(function(hex) { return '#' + hex; });
    var humColorIndex = humColors.length;
    var humColor = function() {
        if (humColorIndex == 0) {
            humColorIndex = humColors.length;
        }
        var color = humColors[humColorIndex-1]
        humColorIndex--;
        return color;
    }

    var data = {
        labels: [{{ range $index, $element := .Content.Graphs.Labels }}{{ if $index }},{{ end }}"{{ $element }}"{{ end }}],
        datasets: [
        {{ range $sensor, $data := .Content.Graphs.Humidity }}
            {
                label: "{{ $sensor.Name }} - {{ $sensor.SensorType.Type }}",
                yAxisID: 'H',
                data: [{{ range $index, $element := $data }}{{ if $index }},{{ end }}{{ $element.Value }}{{ end }}],
                borderColor: humColor()
            },
        {{ end }}
        {{ range $sensor, $data := .Content.Graphs.Temperature }}
            {
                label: "{{ $sensor.Name }} - {{ $sensor.SensorType.Type }}",
                yAxisID: 'T',
                data: [{{ range $index, $element := $data }}{{ if $index }},{{ end }}{{ $element.Value }}{{ end }}],
                borderColor: {{ if eq $sensor.Name "weather forecast" }}'#aa33cc'{{ else }}tempColor(){{ end }}
            },
        {{ end }}
        ]
    };

    var ctx = document.getElementById("hour_chart").getContext('2d');
    var hour_chart = new Chart.Line(ctx, {
        data: data,
        options: {
            tooltips: {
                mode: 'index',
                intersect: false,
                callbacks: {
                    label: function (tooltipItem, d) {
                        if (tooltipItem.datasetIndex >= 0 && tooltipItem.datasetIndex < {{ len .Content.Graphs.Humidity }}) {
                            return tooltipItem.yLabel + '% - ' + data.datasets[tooltipItem.datasetIndex].label
                        } else {
                            return tooltipItem.yLabel + '°C - ' + data.datasets[tooltipItem.datasetIndex].label
                        }
                    }
                }
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    type: "time",
                    time: {
                        format: 'DD.MM.YYYY - HH:mm',
                        tooltipFormat: 'll HH:mm'
                    },
                    scaleLabel: {
                        display: true
                    }
                }],
                yAxes: [{
                    id: 'H',
                    scaleLabel: {
                        display: true,
                        labelString: 'Humidity'
                    },
                    type: 'linear',
                    position: 'right',
                    ticks: {
                        callback: function(value, index, values) {
                            return value + '%';
                        }
                    }
                },{
                    id: 'T',
                    scaleLabel: {
                        display: true,
                        labelString: 'Temperature'
                    },
                    type: 'linear',
                    position: 'left',
                    ticks: {
                        callback: function(value, index, values) {
                            return value + '°C';
                        }
                    }
                }]
            }
        }
    });
    </script>
  </div>
</section>
