<script src="/js/chart.bundle.min.2.7.1.js"></script>
<script src="/js/palette.min.js"></script>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
        <form action="/fitness" method="post">
          <label class="label">New Calorie Intake:</label>
          <div class="field has-addons is-horizontal">
            <div class="control has-icons-left">
              <input class="input is-large is-primary is-rounded" type="text" name="calories" value="" autofocus>
              <span class="icon is-large is-left">
                <i class="fa fa-yelp"></i>
              </span>
            </div>
            <div class="control has-icons-left">
              <span class="select is-large is-info is-rounded">
                <select name="day">
                  <option>today</option>
                  <option>yesterday</option>
                  <option>the day before</option>
                </select>
              </span>
              <span class="icon is-large is-left">
                <i class="fa fa-calendar-o"></i>
              </span>
            </div>
          </div>
          <label class="label">Weight / Body Fat:</label>
          <div class="field has-addons is-horizontal">
            <div class="control has-icons-left">
              <input class="input is-large is-primary is-rounded" type="text" name="weight" value="">
              <span class="icon is-large is-left">
                <i class="fa fa-balance-scale"></i>
              </span>
            </div>
            <div class="control has-icons-left">
              <input class="input is-large is-primary is-rounded" type="text" name="bodyfat" value="">
              <span class="icon is-large is-left">
                <i class="fa fa-pie-chart"></i>
              </span>
            </div>
            <div class="control">
              <input type="submit" class="button is-info is-large is-rounded" value="Nom Nom">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="section" style="padding-top: 0px">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        <h4 class="title is-4">Latest:</h4>
      </div>
      <div class="column">
        <h5 class="subtitle is-5">Calories: {{ .Content.Calories.Value }} kcal <small class="has-text-warning">({{ .Content.Calories.Timestamp.Format "2006-01-02" }})</small></h5>
      </div>
      <div class="column">
        <h5 class="subtitle is-5">Weight: {{ divide .Content.Weight.Value 10 }} kg <small class="has-text-warning">({{ .Content.Weight.Timestamp.Format "2006-01-02" }})</small></h5>
      </div>
      <div class="column">
        <h5 class="subtitle is-5">Body Fat: {{ divide .Content.BodyFat.Value 10 }} % <small class="has-text-warning">({{ .Content.BodyFat.Timestamp.Format "2006-01-02" }})</small></h5>
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-quarter">
        <h4 class="title is-4">Calorie intake today:</h4>
      </div>
      <div class="column is-three-quarters">
        <h5 class="subtitle is-5">{{ range .Content.CalorieIntake }}{{ .Value }} <small class="has-text-info" style="font-size: 0.8rem">({{ .Timestamp.Format "15:04" }})</small>, {{ end }}</h5>
      </div>
    </div>
  </div>
</section>

<section class="section" style="padding-top: 0px">
  <div class="container">
    <h4 class="title is-4">📅 99 days - <span class="has-text-danger">weight</span> and <span class="has-text-info">calorie intake</span></h4>
    <canvas id="daily_chart" width="100%" height="25%"></canvas>
    <script>
    var weightColors = palette('cb-OrRd', 2).map(function(hex) { return '#' + hex; }).reverse();
    var weightColorIndex = weightColors.length;
    var weightColor = function() {
        if (weightColorIndex == 0) {
            weightColorIndex = weightColors.length;
        }
        var color = weightColors[weightColorIndex-1]
        weightColorIndex--;
        return color;
    }

    var bodyfatColors = palette('cb-BuPu', 3).map(function(hex) { return '#' + hex; }).reverse();
    var bodyfatColorIndex = bodyfatColors.length;
    var bodyfatColor = function() {
        if (bodyfatColorIndex == 0) {
            bodyfatColorIndex = bodyfatColors.length;
        }
        var color = bodyfatColors[bodyfatColorIndex-1]
        bodyfatColorIndex--;
        return color;
    }

    var caloriesColors = palette('cb-PuBuGn', 3).map(function(hex) { return '#' + hex; });
    var caloriesColorIndex = caloriesColors.length;
    var caloriesColor = function() {
        if (caloriesColorIndex == 0) {
            caloriesColorIndex = caloriesColors.length;
        }
        var color = caloriesColors[caloriesColorIndex-1]
        caloriesColorIndex--;
        return color;
    }

    var data = {
        labels: [{{ range $index, $element := .Content.Graphs.Labels }}{{ if $index }},{{ end }}"{{ $element }}"{{ end }}],
        datasets: [
        {{ range $sensor, $data := .Content.Graphs.Calories }}
            {
                label: "{{ $sensor.Name }} - {{ $sensor.SensorType.Type }}",
                yAxisID: 'C',
                data: [{{ range $index, $element := $data }}{{ if $index }},{{ end }}{{ if gt $element.Value 0 }}{{ $element.Value }}{{ else }}null{{ end }}{{ end }}],
                borderColor: caloriesColor(),
                pointStyle: "line",
                spanGaps: false
            },
        {{ end }}
        {{ range $sensor, $data := .Content.Graphs.Weight }}
            {
                label: "{{ $sensor.Name }} - {{ $sensor.SensorType.Type }}",
                yAxisID: 'W',
                data: [{{ range $index, $element := $data }}{{ if $index }},{{ end }}{{ if gt $element.Value 0 }}{{ $element.Value }}/10{{ else }}null{{ end }}{{ end }}],
                borderColor: weightColor(),
                pointStyle: "line",
                spanGaps: false
            },
        {{ end }}
        {{ range $sensor, $data := .Content.Graphs.BodyFat }}
            {
                label: "{{ $sensor.Name }} - {{ $sensor.SensorType.Type }}",
                yAxisID: 'B',
                data: [{{ range $index, $element := $data }}{{ if $index }},{{ end }}{{ if gt $element.Value 0 }}{{ $element.Value }}/10{{ else }}null{{ end }}{{ end }}],
                borderColor: bodyfatColor(),
                pointStyle: "line",
                spanGaps: false
            },
        {{ end }}
        ]
    };

    var ctx = document.getElementById("daily_chart").getContext('2d');
    var daily_chart = new Chart.Line(ctx, {
        data: data,
        options: {
            tooltips: {
                mode: 'index',
                intersect: false,
                callbacks: {
                    label: function (tooltipItem, d) {
                        if (d.datasets[tooltipItem.datasetIndex].yAxisID == 'C') {
                            return tooltipItem.yLabel + ' kcal - ' + data.datasets[tooltipItem.datasetIndex].label
                        } else if (d.datasets[tooltipItem.datasetIndex].yAxisID == 'B') {
                            return tooltipItem.yLabel + ' % - ' + data.datasets[tooltipItem.datasetIndex].label
                        } else {
                            return tooltipItem.yLabel + ' kg - ' + data.datasets[tooltipItem.datasetIndex].label
                        }
                    }
                }
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    type: "time",
                    time: {
                        format: 'DD.MM.YYYY',
                        tooltipFormat: 'll'
                    },
                    scaleLabel: {
                        display: true
                    }
                }],
                yAxes: [{
                    id: 'C',
                    scaleLabel: {
                        display: true,
                        labelString: 'Kilocalories'
                    },
                    type: 'linear',
                    position: 'right',
                    ticks: {
                        suggestedMin: 1000,
                        suggestedMax: 2500,
                        callback: function(value, index, values) {
                            return value + ' kcal';
                        }
                    }
                },{
                    id: 'W',
                    scaleLabel: {
                        display: true,
                        labelString: 'Kilogram'
                    },
                    type: 'linear',
                    position: 'left',
                    ticks: {
                        suggestedMin: 50,
                        suggestedMax: 100,
                        callback: function(value, index, values) {
                            return value + ' kg';
                        }
                    }
                },{
                    id: 'B',
                    scaleLabel: {
                        display: true,
                        labelString: 'Body Fat'
                    },
                    type: 'linear',
                    position: 'left',
                    ticks: {
                        suggestedMin: 17,
                        suggestedMax: 20,
                        callback: function(value, index, values) {
                            return value + ' %';
                        }
                    }
                }]
            }
        }
    });
    </script>
  </div>
</section>

<section class="hero is-small is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Food Information</h1>
      <h2 class="subtitle">What to eat...</h2>
      <pre>
Lang sättigend:
1. Haferflocken
2. Hülsenfrüchte
3. Getrocknete Feigen
4. Vollkornprodukte
5. Mandeln
6. Heidelbeeren
7. Kartoffeln
8. Magerquark
9. Eier
10. Fisch
11. Griechischer Joghurt
12. Gemüse
13. Hüttenkäse
14. Quinoa
15. Nüsse

Lang anhaltend sättigend:
1. Artischocken
2. Leinsamen
3. Blumenkohl
4. Edamame
5. Rüebli
6. Avocado Dips (anstatt Käse-basierend)
7. Linsen / Hülsenfrüchte
8. Nüsse
9. Haferflocken
10. Chiasamen
11. Kichererbsen
12. Weisse Bohnen

Grundsätzlich Gemüse!

Eiweiss:
- Hülsenfrüchte (Linsen, Kichererbsen, Bohnen, Erbsen)
- Sojaprodukte (Sojaprotein, Tempeh, Tofu oder Sojamilch)
- Getreide (Haferflocken, Dinkel- oder Roggenmehl, Reis)
- Pseudogetreide (Quinoa, Bulgur, Amaranth)
- Nüsse und Samen (Walnüsse, Haselnüsse, Mandeln, Cashewkerne, Leinsamen, Chiasamen, Kürbiskerne)
- Gemüse (Kohl, Spinat, Blumenkohl, Karotten)
- Pilze (Champignons, Pfifferlinge, Shiitake)
      </pre>
    </div>
  </div>
</section>
