{{ template "location_selection" . }}

<section class="section is-paddingless">
  <div class="container">
    <div class="columns">
      <div class="column is-narrow">
        <h1 class="title">{{ .Content.Forecast.Location.Name }}</h1>
        <h2 class="subtitle">{{ .Content.Forecast.Location.Country }}</h2>
      </div>
      <div class="column">
        <p>{{ .Content.Forecast.Location.Location.Altitude }}m</p>
        <p><a href="https://www.google.ch/maps/place/{{ .Content.Forecast.Location.Location.Latitude }}%C2%B0+{{ .Content.Forecast.Location.Location.Longitude }}%C2%B0" target="_blank" rel="noopener noreferrer">{{ .Content.Forecast.Location.Location.Latitude }}°/{{ .Content.Forecast.Location.Location.Longitude }}°</a></p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <label class="label">Today<small>, {{ .Content.Today.Weekday }} {{ $.Content.Today.Format `02.01.2006` }}</small></label>
    <table class="table is-bordered is-striped is-fullwidth">
      <thead>
        <tr>
          <th>Date</th>
          <th>Weather</th>
          <th>Wind</th>
          <th>Temperature</th>
          <th>Pressure</th>
        </tr>
      </thead>
      <tbody>
        {{ range $i, $e := .Content.Forecast.Forecast.Tabular.Time }}{{ if eq $e.From.Day $.Content.Today.Day }}
        <tr {{ if eq $i 0 }}class="is-selected"{{ end }}>
          <td>{{ $e.From.Format `15:04` }} - {{ $e.To.Format `15:04` }}</td>
          <td>{{ $e.Symbol.Name }}<br/>{{ $e.Precipitation.Value }} mm</td>
          <td>{{ $e.WindSpeed.Name }}<br/>{{ $e.WindSpeed.MPS }} mps<br/>{{ $e.WindDirection.Name }}</td>
          <td>{{ $e.Temperature.Value }}° {{ $e.Temperature.Unit }}</td>
          <td>{{ $e.Pressure.Value }} {{ $e.Pressure.Unit }}</td>
        </tr>
        {{ end }}{{ end }}
      </tbody>
    </table>

    <label class="label">Tomorrow<small>, {{ .Content.Tomorrow.Weekday }} {{ $.Content.Tomorrow.Format `02.01.2006` }}</small></label>
    <table class="table is-bordered is-striped is-fullwidth">
      <thead>
        <tr>
          <th>Date</th>
          <th>Weather</th>
          <th>Wind</th>
          <th>Temperature</th>
          <th>Pressure</th>
        </tr>
      </thead>
      <tbody>
        {{ range $i, $e := .Content.Forecast.Forecast.Tabular.Time }}{{ if eq $e.From.Day $.Content.Tomorrow.Day }}
        <tr>
          <td>{{ $e.From.Format `15:04` }} - {{ $e.To.Format `15:04` }}</td>
          <td>{{ $e.Symbol.Name }}<br/>{{ $e.Precipitation.Value }} mm</td>
          <td>{{ $e.WindSpeed.Name }}<br/>{{ $e.WindSpeed.MPS }} mps<br/>{{ $e.WindDirection.Name }}</td>
          <td>{{ $e.Temperature.Value }}° {{ $e.Temperature.Unit }}</td>
          <td>{{ $e.Pressure.Value }} {{ $e.Pressure.Unit }}</td>
        </tr>
        {{ end }}{{ end }}
      </tbody>
    </table>

    <label class="label">{{ .Content.DayAfterTomorrow.Weekday }}<small>, {{ $.Content.DayAfterTomorrow.Format `02.01.2006` }}</small></label>
    <table class="table is-bordered is-striped is-fullwidth">
      <thead>
        <tr>
          <th>Date</th>
          <th>Weather</th>
          <th>Wind</th>
          <th>Temperature</th>
          <th>Pressure</th>
        </tr>
      </thead>
      <tbody>
        {{ range $i, $e := .Content.Forecast.Forecast.Tabular.Time }}{{ if eq $e.From.Day $.Content.DayAfterTomorrow.Day }}
        <tr>
          <td>{{ $e.From.Format `15:04` }} - {{ $e.To.Format `15:04` }}</td>
          <td>{{ $e.Symbol.Name }}<br/>{{ $e.Precipitation.Value }} mm</td>
          <td>{{ $e.WindSpeed.Name }}<br/>{{ $e.WindSpeed.MPS }} mps<br/>{{ $e.WindDirection.Name }}</td>
          <td>{{ $e.Temperature.Value }}° {{ $e.Temperature.Unit }}</td>
          <td>{{ $e.Pressure.Value }} {{ $e.Pressure.Unit }}</td>
        </tr>
        {{ end }}{{ end }}
      </tbody>
    </table>
  </div>
</section>

<footer class="footer is-paddingless">
  <div class="container">
    <div class="content has-text-centered">
      <p>{{ .Content.Forecast.Credit.Link.Text }}<br/><a href="{{ .Content.Forecast.Credit.Link.URL }}">{{ .Content.Forecast.Credit.Link.URL }}</a></p>
    </div>
  </div>
</footer>