<script src="/js/chart.bundle.min.2.7.1.js"></script>
<script src="/js/palette.min.js"></script>

<section class="section">
  <div class="container" style="min-width: 800px;">
    <label class="label">🕓  48 hours - <span class="has-text-danger">temperature</span></label>
    <canvas id="temp_hour_chart" width="100%" height="25%"></canvas>
    <script>
    var tempColors = palette('cb-YlOrRd', 5).map(function(hex) { return '#' + hex; });
    var tempColorIndex = tempColors.length;
    var tempColor = function() {
        if (tempColorIndex == 0) {
            tempColorIndex = tempColors.length;
        }
        var color = tempColors[tempColorIndex-1]
        tempColorIndex--;
        return color;
    }

    var temp_hour_data = {
        labels: [{{ range $index, $element := .Content.HourlyLabels }}{{ if $index }},{{ end }}"{{ $element }}"{{ end }}],
        datasets: [
        {{ range $sensor, $data := .Content.HourlyTemperature }}
            {
                label: "{{ $sensor }}",
                yAxisID: 'T',
                data: [{{ range $index, $element := $data }}{{ if $index }},{{ end }}{{ $element.Value }}{{ end }}],
                borderColor: {{ if eq $sensor "weather forecast" }}'#aa33cc'{{ else }}tempColor(){{ end }}
            },
        {{ end }}
        ]
    };

    var ctx = document.getElementById("temp_hour_chart").getContext('2d');
    var temp_hour_chart = new Chart.Line(ctx, {
        data: temp_hour_data,
        options: {
            tooltips: {
                mode: 'index',
                intersect: false,
                callbacks: {
                    label: function (tooltipItem, d) {
                        return tooltipItem.yLabel + '°C - ' + temp_hour_data.datasets[tooltipItem.datasetIndex].label
                    }
                }
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    type: "time",
                    time: {
                        format: 'DD.MM.YYYY - HH:mm',
                        tooltipFormat: 'll HH:mm'
                    },
                    scaleLabel: {
                        display: true
                    }
                }],
                yAxes: [{
                    id: 'T',
                    scaleLabel: {
                        display: true,
                        labelString: 'Temperature'
                    },
                    type: 'linear',
                    position: 'left',
                    ticks: {
                        callback: function(value, index, values) {
                            return value + '°C';
                        }
                    }
                }]
            }
        }
    });
    </script>
  </div>
</section>

<section class="section is-paddingless">
  <div class="container" style="min-width: 800px;">
    <label class="label">🕓  48 hours - <span class="has-text-info">humidity</span></label>
    <canvas id="hum_hour_chart" width="100%" height="25%"></canvas>
    <script>
    var humColors = palette('cb-PuBuGn', 5).map(function(hex) { return '#' + hex; });
    var humColorIndex = humColors.length;
    var humColor = function() {
        if (humColorIndex == 0) {
            humColorIndex = humColors.length;
        }
        var color = humColors[humColorIndex-1]
        humColorIndex--;
        return color;
    }

    var hum_hour_data = {
        labels: [{{ range $index, $element := .Content.HourlyLabels }}{{ if $index }},{{ end }}"{{ $element }}"{{ end }}],
        datasets: [
        {{ range $sensor, $data := .Content.HourlyHumidity }}
            {
                label: "{{ $sensor }}",
                yAxisID: 'H',
                data: [{{ range $index, $element := $data }}{{ if $index }},{{ end }}{{ $element.Value }}{{ end }}],
                borderColor: humColor()
            },
        {{ end }}
        ]
    };

    var ctx = document.getElementById("hum_hour_chart").getContext('2d');
    var hum_hour_chart = new Chart.Line(ctx, {
        data: hum_hour_data,
        options: {
            tooltips: {
                mode: 'index',
                intersect: false,
                callbacks: {
                    label: function (tooltipItem, d) {
                        return tooltipItem.yLabel + '% - ' + hum_hour_data.datasets[tooltipItem.datasetIndex].label
                    }
                }
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    type: "time",
                    time: {
                        format: 'DD.MM.YYYY - HH:mm',
                        tooltipFormat: 'll HH:mm'
                    },
                    scaleLabel: {
                        display: true
                    }
                }],
                yAxes: [{
                    id: 'H',
                    scaleLabel: {
                        display: true,
                        labelString: 'Humidity'
                    },
                    type: 'linear',
                    position: 'left',
                    ticks: {
                        callback: function(value, index, values) {
                            return value + '%';
                        }
                    }
                }]
            }
        }
    });
    </script>
  </div>
</section>

<section class="section is-paddingless">
  <div class="container" style="min-width: 800px;">
    <label class="label">🕓  48 hours - <span class="has-text-warning">soil moisture</span></label>
    <canvas id="soil_hour_chart" width="100%" height="25%"></canvas>
    <script>
    var soilColors = palette('tol-sq', 5).map(function(hex) { return '#' + hex; });
    var soilColorIndex = soilColors.length;
    var soilColor = function() {
        if (soilColorIndex == 0) {
            soilColorIndex = soilColors.length;
        }
        var color = soilColors[soilColorIndex-1]
        soilColorIndex--;
        return color;
    }

    var soil_hour_data = {
        labels: [{{ range $index, $element := .Content.HourlyLabels }}{{ if $index }},{{ end }}"{{ $element }}"{{ end }}],
        datasets: [
        {{ range $sensor, $data := .Content.HourlyMoisture }}
            {
                label: "{{ $sensor }}",
                yAxisID: 'S',
                data: [{{ range $index, $element := $data }}{{ if $index }},{{ end }}{{ $element.Value }}{{ end }}],
                borderColor: soilColor()
            },
        {{ end }}
        ]
    };

    var ctx = document.getElementById("soil_hour_chart").getContext('2d');
    var soil_hour_chart = new Chart.Line(ctx, {
        data: soil_hour_data,
        options: {
            tooltips: {
                mode: 'index',
                intersect: false,
                callbacks: {
                    label: function (tooltipItem, d) {
                        return tooltipItem.yLabel + '% - ' + soil_hour_data.datasets[tooltipItem.datasetIndex].label
                    }
                }
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    type: "time",
                    time: {
                        format: 'DD.MM.YYYY - HH:mm',
                        tooltipFormat: 'll HH:mm'
                    },
                    scaleLabel: {
                        display: true
                    }
                }],
                yAxes: [{
                    id: 'S',
                    scaleLabel: {
                        display: true,
                        labelString: 'Soil Moisture (capacitive)'
                    },
                    type: 'linear',
                    position: 'left',
                    ticks: {
                        callback: function(value, index, values) {
                            return value + '%';
                        }
                    }
                }]
            }
        }
    });
    </script>
  </div>
</section>

<section class="section is-paddingless">
  <div class="container" style="min-width: 800px;">
    <label class="label">🕓  48 hours - <span class="has-text-warning">carbon dioxide</span></label>
    <canvas id="co2_hour_chart" width="100%" height="25%"></canvas>
    <script>
    var co2Colors = palette('cb-YlOrRd', 3).map(function(hex) { return '#' + hex; });
    var co2ColorIndex = co2Colors.length;
    var co2Color = function() {
        if (co2ColorIndex == 0) {
            co2ColorIndex = co2Colors.length;
        }
        var color = co2Colors[co2ColorIndex-1]
        co2ColorIndex--;
        return color;
    }

    var co2_hour_data = {
        labels: [{{ range $index, $element := .Content.HourlyLabels }}{{ if $index }},{{ end }}"{{ $element }}"{{ end }}],
        datasets: [
        {{ range $sensor, $data := .Content.HourlyCo2 }}
            {
                label: "{{ $sensor }}",
                yAxisID: 'C',
                data: [{{ range $index, $element := $data }}{{ if $index }},{{ end }}{{ $element.Value }}{{ end }}],
                borderColor: co2Color()
            },
        {{ end }}
        ]
    };

    var ctx = document.getElementById("co2_hour_chart").getContext('2d');
    var co2_hour_chart = new Chart.Line(ctx, {
        data: co2_hour_data,
        options: {
            tooltips: {
                mode: 'index',
                intersect: false,
                callbacks: {
                    label: function (tooltipItem, d) {
                        return tooltipItem.yLabel + 'ppm - ' + co2_hour_data.datasets[tooltipItem.datasetIndex].label
                    }
                }
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    type: "time",
                    time: {
                        format: 'DD.MM.YYYY - HH:mm',
                        tooltipFormat: 'll HH:mm'
                    },
                    scaleLabel: {
                        display: true
                    }
                }],
                yAxes: [{
                    id: 'C',
                    scaleLabel: {
                        display: true,
                        labelString: 'Carbon Dioxide (ppm)'
                    },
                    type: 'linear',
                    position: 'left',
                    ticks: {
                        callback: function(value, index, values) {
                            return value + 'ppm';
                        }
                    }
                }]
            }
        }
    });
    </script>
  </div>
</section>

<section class="section is-paddingless">
  <div class="container" style="min-width: 800px;">
    <label class="label">🗓️  4 weeks - <span class="has-text-danger">temperature</span></label>
    <canvas id="temp_weekly_chart" width="100%" height="25%"></canvas>
    <script>
    var tempColors = palette('cb-YlOrRd', 5).map(function(hex) { return '#' + hex; });
    var tempColorIndex = tempColors.length;
    var tempColor = function() {
        if (tempColorIndex == 0) {
            tempColorIndex = tempColors.length;
        }
        var color = tempColors[tempColorIndex-1]
        tempColorIndex--;
        return color;
    }

    var temp_weekly_data = {
        labels: [{{ range $index, $element := .Content.WeeklyLabels }}{{ if $index }},{{ end }}"{{ $element }}"{{ end }}],
        datasets: [
        {{ range $sensor, $data := .Content.WeeklyTemperature }}
            {
                label: "{{ $sensor }}",
                yAxisID: 'T',
                data: [{{ range $index, $element := $data }}{{ if $index }},{{ end }}{{ $element.Value }}{{ end }}],
                borderColor: {{ if eq $sensor "weather forecast" }}'#aa33cc'{{ else }}tempColor(){{ end }}
            },
        {{ end }}
        ]
    };

    var ctx = document.getElementById("temp_weekly_chart").getContext('2d');
    var temp_weekly_chart = new Chart.Line(ctx, {
        data: temp_weekly_data,
        options: {
            tooltips: {
                mode: 'index',
                intersect: false,
                callbacks: {
                    label: function (tooltipItem, d) {
                        return tooltipItem.yLabel + '°C - ' + temp_weekly_data.datasets[tooltipItem.datasetIndex].label
                    }
                }
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    type: "time",
                    time: {
                        format: 'DD.MM.YYYY - HH:mm',
                        tooltipFormat: 'll HH:mm'
                    },
                    scaleLabel: {
                        display: true
                    }
                }],
                yAxes: [{
                    id: 'T',
                    scaleLabel: {
                        display: true,
                        labelString: 'Temperature'
                    },
                    type: 'linear',
                    position: 'left',
                    ticks: {
                        callback: function(value, index, values) {
                            return value + '°C';
                        }
                    }
                }]
            }
        }
    });
    </script>
  </div>
</section>

<section class="section is-paddingless">
  <div class="container" style="min-width: 800px;">
    <label class="label">🗓️  4 weeks - <span class="has-text-info">humidity</span></label>
    <canvas id="hum_weekly_chart" width="100%" height="25%"></canvas>
    <script>
    var humColors = palette('cb-PuBuGn', 5).map(function(hex) { return '#' + hex; });
    var humColorIndex = humColors.length;
    var humColor = function() {
        if (humColorIndex == 0) {
            humColorIndex = humColors.length;
        }
        var color = humColors[humColorIndex-1]
        humColorIndex--;
        return color;
    }

    var hum_weekly_data = {
        labels: [{{ range $index, $element := .Content.WeeklyLabels }}{{ if $index }},{{ end }}"{{ $element }}"{{ end }}],
        datasets: [
        {{ range $sensor, $data := .Content.WeeklyHumidity }}
            {
                label: "{{ $sensor }}",
                yAxisID: 'H',
                data: [{{ range $index, $element := $data }}{{ if $index }},{{ end }}{{ $element.Value }}{{ end }}],
                borderColor: humColor()
            },
        {{ end }}
        ]
    };

    var ctx = document.getElementById("hum_weekly_chart").getContext('2d');
    var hum_weekly_chart = new Chart.Line(ctx, {
        data: hum_weekly_data,
        options: {
            tooltips: {
                mode: 'index',
                intersect: false,
                callbacks: {
                    label: function (tooltipItem, d) {
                        return tooltipItem.yLabel + '% - ' + hum_weekly_data.datasets[tooltipItem.datasetIndex].label
                    }
                }
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    type: "time",
                    time: {
                        format: 'DD.MM.YYYY - HH:mm',
                        tooltipFormat: 'll HH:mm'
                    },
                    scaleLabel: {
                        display: true
                    }
                }],
                yAxes: [{
                    id: 'H',
                    scaleLabel: {
                        display: true,
                        labelString: 'Humidity'
                    },
                    type: 'linear',
                    position: 'left',
                    ticks: {
                        callback: function(value, index, values) {
                            return value + '%';
                        }
                    }
                }]
            }
        }
    });
    </script>
  </div>
</section>

<section class="section is-paddingless">
  <div class="container" style="min-width: 800px;">
    <label class="label">🗓️  4 weeks - <span class="has-text-warning">soil moisture</span></label>
    <canvas id="soil_weekly_chart" width="100%" height="25%"></canvas>
    <script>
    var soilColors = palette('tol-sq', 5).map(function(hex) { return '#' + hex; });
    var soilColorIndex = soilColors.length;
    var soilColor = function() {
        if (soilColorIndex == 0) {
            soilColorIndex = soilColors.length;
        }
        var color = soilColors[soilColorIndex-1]
        soilColorIndex--;
        return color;
    }

    var soil_weekly_data = {
        labels: [{{ range $index, $element := .Content.WeeklyLabels }}{{ if $index }},{{ end }}"{{ $element }}"{{ end }}],
        datasets: [
        {{ range $sensor, $data := .Content.WeeklyMoisture }}
            {
                label: "{{ $sensor }}",
                yAxisID: 'S',
                data: [{{ range $index, $element := $data }}{{ if $index }},{{ end }}{{ $element.Value }}{{ end }}],
                borderColor: soilColor()
            },
        {{ end }}
        ]
    };

    var ctx = document.getElementById("soil_weekly_chart").getContext('2d');
    var soil_weekly_chart = new Chart.Line(ctx, {
        data: soil_weekly_data,
        options: {
            tooltips: {
                mode: 'index',
                intersect: false,
                callbacks: {
                    label: function (tooltipItem, d) {
                        return tooltipItem.yLabel + '% - ' + soil_weekly_data.datasets[tooltipItem.datasetIndex].label
                    }
                }
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    type: "time",
                    time: {
                        format: 'DD.MM.YYYY - HH:mm',
                        tooltipFormat: 'll HH:mm'
                    },
                    scaleLabel: {
                        display: true
                    }
                }],
                yAxes: [{
                    id: 'S',
                    scaleLabel: {
                        display: true,
                        labelString: 'Soil Moisture (capacitive)'
                    },
                    type: 'linear',
                    position: 'left',
                    ticks: {
                        callback: function(value, index, values) {
                            return value + '%';
                        }
                    }
                }]
            }
        }
    });
    </script>
  </div>
</section>

<section class="section is-paddingless">
  <div class="container" style="min-width: 800px;">
    <label class="label">🗓️  4 weeks - <span class="has-text-warning">carbon dioxide</span></label>
    <canvas id="co2_weekly_chart" width="100%" height="25%"></canvas>
    <script>
    var co2Colors = palette('cb-YlOrRd', 3).map(function(hex) { return '#' + hex; });
    var co2ColorIndex = co2Colors.length;
    var co2Color = function() {
        if (co2ColorIndex == 0) {
            co2ColorIndex = co2Colors.length;
        }
        var color = co2Colors[co2ColorIndex-1]
        co2ColorIndex--;
        return color;
    }

    var co2_weekly_data = {
        labels: [{{ range $index, $element := .Content.WeeklyLabels }}{{ if $index }},{{ end }}"{{ $element }}"{{ end }}],
        datasets: [
        {{ range $sensor, $data := .Content.WeeklyCo2 }}
            {
                label: "{{ $sensor }}",
                yAxisID: 'C',
                data: [{{ range $index, $element := $data }}{{ if $index }},{{ end }}{{ $element.Value }}{{ end }}],
                borderColor: co2Color()
            },
        {{ end }}
        ]
    };

    var ctx = document.getElementById("co2_weekly_chart").getContext('2d');
    var co2_weekly_chart = new Chart.Line(ctx, {
        data: co2_weekly_data,
        options: {
            tooltips: {
                mode: 'index',
                intersect: false,
                callbacks: {
                    label: function (tooltipItem, d) {
                        return tooltipItem.yLabel + 'ppm - ' + co2_weekly_data.datasets[tooltipItem.datasetIndex].label
                    }
                }
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    type: "time",
                    time: {
                        format: 'DD.MM.YYYY - HH:mm',
                        tooltipFormat: 'll HH:mm'
                    },
                    scaleLabel: {
                        display: true
                    }
                }],
                yAxes: [{
                    id: 'C',
                    scaleLabel: {
                        display: true,
                        labelString: 'Carbon Dioxide (ppm)'
                    },
                    type: 'linear',
                    position: 'left',
                    ticks: {
                        callback: function(value, index, values) {
                            return value + 'ppm';
                        }
                    }
                }]
            }
        }
    });
    </script>
  </div>
</section>
