<section class="section">
  <div class="container">
    <article class="media">
      <figure class="media-left">
        <p class="image is-128x128">
          <img src="/images/smart_temperature.png">
        </p>
      </figure>
      <div class="media-content">
        <h1 class="title">Home Automation</h1>
        <h2 class="subtitle">The management website for all my <strong>Raspberry Pi / Arduino / ESP8266</strong> stuff!</h2>
      </div>
    </article>
  </div>
</section>