<section class="section">
  <div class="container">

    <form action="/forecasts" method="post">
      <label class="label">Location:</label>
      <div class="field has-addons">
        <div class="control has-icons-left">
          <input class="input" type="text" placeholder="Latitude" name="latitude" value="{{ .Content.Latitude }}">
          <span class="icon is-small is-left">
            <i class="fa fa-building"></i>
          </span>
        </div>
        <div class="control has-icons-left">
          <input class="input" type="text" placeholder="Longitude" name="longitude" value="{{ .Content.Longitude }}">
          <span class="icon is-small is-left">
            <i class="fa fa-building"></i>
          </span>
        </div>
        <div class="control has-icons-left">
          <input class="input" type="text" placeholder="Altitude" name="altitude" value="{{ .Content.Altitude }}">
          <span class="icon is-small is-left">
            <i class="fa fa-building"></i>
          </span>
        </div>
        <div class="control">
          <input type="submit" class="button is-info" value="Show">
        </div>
      </div>
    </form>

  </div>
</section>
