<section class="section">
  <div class="container">
    <label class="label">Sensors</label>
    <table class="table is-bordered is-striped is-fullwidth">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Type</th>
          <th>Unit</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Content.Sensors }}
        <tr>
          <td>{{ .Id }}</td>
          <td>{{ .Name }}</td>
          <td>{{ .Type }}</td>
          <td>{{ .Unit }}</td>
          <td>{{ .Description }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</section>